.navbtnstyle:hover{
    background-color: blue;
    color: white;
}
.navbtnstyle .h{
    padding: 0;
    color: green;
}
.this{
    height: 100vh;
    padding: 1rem;
}
.hmm{
    width: 20rem;
}
/* .this2{
    height: 2rem;
} */
 .hel{
    border: 1px solid red;
    width: 100%;
    height: 100%;
 }
 .img11{
    height: 5rem;
    
 }